{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/storews.css' %}">

<body>
    <div class="cont">
        <div class="leftside">

            <img class ="kurapng" src="{% static 'iamagessa/biglogo.svg' %}"/>

        </div>
        <div class="rightside">
            <div class="yu">
            <h1 class="textho">Cначала ,быстро,<n/> потом медленно”</h1>
            <h5 class="textho1">продукция для тех, кто хочет экономить свое время</h5>
    </div>
        </div>

    </div>
    <div class="djeg">



    </div>
    <div class="about">
        <div class="about1">
            <div class="about2">
        <h2 class="dr">
            О нас
        </h2>
                </div>
            <div class="about3">

        <h3 class="dr1">

Компания “Кура Урала” — компания, которая думает о своих потребителях.
        </h3>
            </div>
            <div class="about4">

        <h3 class="dr1">
Главные преимущества компании: это создание различных видов куриной продукции в вакуумной упаковке, простота и быстрота использования. Наша маринованная продукция готовится на сковороде всего лишь за 10 минут, вес продукции позволяет накормить всех друзей во время шашлычного сезона.

        </h3>
            </div>
            </div>

    </div>
<div class="e">
        <img class="logow" src="{% static 'iamagessa/logo.svg' %}"/>
        <div class="q">
		<b class="b">Луганская 59к2ж</b>
        </div>

        <div class="q">
		<b class="b"> 8 (950) 207 55 11</b>
        </div>
        <div class="q">
		<b class="b">kura_urala@mail.ru</b>
        </div>
</div>
</body>
</html>
{% endblock content %}
