{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fefe.css' %}">
<style>
	.nonetext{
		display:flex;
		height:400px;
		justify-content: center;
    	align-items: center;
	}
	.ol{
		font-family:'NunitoBold';
		font-size: 36px;
		    color:#46315E;
	}
	.pipi{
		после заказа

		доставка
		юрлица


	}
	@media (max-width: 858px){
		.nonetext{
			height: 650px;;
		}
	}

</style>
<body>
	{% if order.get_cart_items == 0 %}
		<div class="nonetext">
			<div class="pipi">
			<h1 class="ol">Корзина пуста</h1>
				</div>
		</div>
<div class="container">

	{% else %}
    <div class="heading">
      <h1 class="textho5">Корзина</h1>

    </div>
<div class="row">
				{% for item in items %}

	<div class="card">
		<div class="imgs">
		<img data-product="{{item.product.id}}" data-action="removew"  src="{% static 'iamagessa/close.svg' %}" class="inner chg-quantity update-cart"/>

		<img class="pimg" src="{{item.product.imageURL}}"/>
</div>
	<div class="card-body">
		<h4 class="p">
		{{item.product.name}}
		</h4>
		<h4 class="p">
		{{item.product.price}} р
		</h4>
		<div class="div">
			<a data-product="{{item.product.id}}" data-action="add" class="btns chg-quantity update-cart">+</a>
			<h4 class="ff">{{item.quantity}} шт</h4>
			<a data-product="{{item.product.id}}" data-action="remove"  class="btns chg-quantity update-cart">-</a>

		</div>
	</div>
</div>
	{% endfor %}
</div>
	<div class="row">
<div class="textbot">

	      <h1 class="textho2">Товаров: {{order.get_cart_items}}</h1>
      		<h1 class="textho2">Сумма: {{order.get_cart_total|floatformat:1}} р</h1>
	<a class="bbtn" href="{% url 'checkout' %}"><h5>Оформить заказ</h5></a>
</div>
		{% endif %}
		</div>
	</div>
<div class="e">
        <img class="logow" src="{% static 'iamagessa/logo.svg' %}"/>
        <div class="r">
		<b class="b">Луганская 59к2ж</b>
        </div>

        <div class="r">
		<b class="b"> 8 (950) 207 55 11</b>
        </div>
        <div class="r">
		<b class="b">kura_urala@mail.ru</b>
        </div>
</div>
</body>
<!--<div class="e">-->
<!--&lt;!&ndash;        <img class="logo" src="{% static 'imgss/logo.svg' %}"/>&ndash;&gt;-->
<!--        <div class="r">-->
<!--		<b class="b">Кунарская 63</b>-->
<!--        </div>-->

<!--        <div class="r">-->
<!--		<b class="b"> 8 (912) 247 91 51</b>-->
<!--        </div>-->
<!--        <div class="r">-->
<!--		<b class="b">kura.urala@mail.ru</b>-->
<!--        </div>-->
<!--</div>-->

<!--				<div class="cart-row">-->
<!--					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>-->
<!--					<div style="flex:2"><p>{{item.product.name}}</p></div>-->
<!--					<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>-->
<!--					<div style="flex:1">-->
<!--						<p class="quantity">{{item.quantity}}</p>-->
<!--						<div class="quantity">-->
<!--							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">-->
<!--					-->
<!--							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">-->
<!--						</div>-->
<!--					</div>-->
<!--					<div style="flex:1"><p>${{item.get_total|floatformat:2}}</p></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
{% endblock content %}
