{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dododos.css' %}">

  <body>
<!--  <div class="bitis">-->
<!--      <a onClick="showHide('test1');" class="biti1">-->
<!--        Доставка-->
<!--      </a>-->
<!--      <a onClick="showHide('test1');" class="biti">-->
<!--        Самовывоз-->
<!--      </a>-->
<!--  </div>-->
  <div class="txt">
      <h1 class="h5">
          Ввод данных
      </h1>
  </div>
  <div class="inpts">
      <form id="form" class="form">

	  <input required class="inp form-control" type="text" name="name" placeholder="Имя">

      <input required class="inp form-control"  type="tel" name="tel"  placeholder="Номер телефона">
              <div class="huy">
              <h4 class="what">Доставка </h4>

          <label class="switch">
              <input type="checkbox" id="chkTest1" name="pickup" value="самовывоз">
              <span class="slider round"></span>
            </label>
                 <h4 class="what1">Самовывоз  </h4>
            </div>
      <div id="pnlTest1"  class="gor">


          <input  class="inpm1" type="text" name="street" placeholder="Улица">
            <input class="inpm2"  type="text" name="flat"  placeholder="Дом">
                <input class="inpm3" type="text" name="home"  placeholder="Квартира">
          <input class="inpm4" type="text" name="porch" placeholder="подъезд">

      </div>
            <input class="inp" type="text" name="comment" placeholder="Комментарий">

          <div class="huy">
              <h4 class="what">WhatsApp </h4>
          <label class="switch">
              <input type="checkbox" name="contacts" >
              <span class="slider round"></span>
            </label>
              <h4 class="what1">Позвонить  </h4>

          </div>
                    <div class="huy1">
              <h4 class="what">Текущее время</h4>

          <label class="switch">
              <input type="checkbox" id="chkTest" >
              <span class="slider round"></span>
            </label>
              <h4 class="what1">Определенное<br> время </h4>

            </div>
          <div id="pnlTest" class="gor1">


          <input  class="inp" type="date" name="date" >
              <input class="inp"  type="time" name="time" >


      </div>
            </form>
      			<div class="box-element hidden" id="payment-info">

            <a id="make-payment" class="bitiu">
        Отправить заявку
      </a>
                </div>

  </div>
  <div class="e">
        <img class="logow" src="{% static 'iamagessa/logo.svg' %}"/>
        <div class="r">
		<b class="b">Луганская 59к2ж</b>
        </div>

        <div class="r">
		<b class="b"> 8 (950) 207 55 11</b>
        </div>
        <div class="r">
		<b class="b">kura_urala@mail.ru</b>
        </div>

</div>
  </body>
<script type="text/javascript">

function toggle1() {
  var div = document.getElementById('pnlTest1');
  if(this.checked)
    div.style.display = 'none';
  else
    div.style.display = 'flex'
    }
document.getElementById('chkTest1').onchange = toggle1;

function toggle() {
  var div = document.getElementById('pnlTest');
  if(this.checked)
    div.style.display = 'flex';
  else
    div.style.display = 'none'
    }
document.getElementById('chkTest').onchange = toggle;
		var shipping = '{{order.shipping}}'
		var total = '{{order.get_cart_total|floatformat:2}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })

	    document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })

	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'tel':null,
				'total':total,
			}

			var shippingInfo = {
				'street':null,
				'flat':null,
				'home':null,
				'porch':null,
				 'comment': null,
				 'date':null,
				 'time':null,
				 'contacts':'null',
				 'pickup':null
			}

			if (shipping != 'False'){
	    		shippingInfo.street = form.street.value
		    	shippingInfo.flat = form.flat.value
		    	shippingInfo.home = form.home.value
		    	shippingInfo.porch = form.porch.value
		    	shippingInfo.comment = form.comment.value
		    	shippingInfo.date = form.date.value
		    	shippingInfo.time = form.time.value
		    	shippingInfo.contacts = form.contacts.value
		    	shippingInfo.pickup = form.pickup.value
	    	}
	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.tel = form.tel.value
	    	}
	    	console.log('Shipping Info:', shippingInfo)
	    	console.log('User Info:', userFormData)

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		},
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),

	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				alert('Скоро с вами свяжется наш диспетчер, ожидайте...');

				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = "{% url 'store' %}"

				})
	    }
	</script>
{% endblock content %}












