<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
	<title>Кура Урала</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/kopii.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)

	</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

    <nav>

          <a href="{% url 'store' %}" class="ada"><img class="logo" src="{% static 'iamagessa/logo.svg' %}"/></a>
                <input type="checkbox" id="check">

        <ul class="nav">
        <div class="textic">
        <a class="active" href="{% url 'store' %}">Главная</a>
         <a class="active" href="{% url 'about' %}">О нас</a>
          <a class="active" href="{% url 'about' %}">Оптом</a>

        </div>

            <a href="{% url 'index' %}" class="ur" ><img class ="game"  src="{% static 'iamagessa/dio.svg' %}"/>
</a>

            <a href="https://wa.me/+79122479151" class="ur1"><img class ="game1"  src="{% static 'iamagessa/podd.svg' %}"/>
</a>
<!--<p id="cart-total">{{cartItems}}</p>-->
<!--          <a href="{% url 'cart' %}">-->
<!--	    		<img  id="cart-icon" src="{% static 'iamagessa/cart.png' %}">-->
<!--          </a>-->
<!--	    	<p id="cart-total">{{cartItems}}</p>-->
                    <a href="{% url 'cart' %}" class="pol"><img id="cart-icon1" class ="gamel" src="{% static 'iamagessa/backet.svg' %}"/> <p class="itemcart" id="cart-total">{{cartItems}}</p></a>

            </ul>
        <a href="{% url 'cart' %}" class="pol1"><img id="cart-icon" class ="gamel1" src="{% static 'iamagessa/backet.svg' %}"/> <p class="itemcart" id="cart-total">{{cartItems}}</p></a>
      <label  for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
    </nav>
    <section>
        {% block content %}


        {% endblock content %}
    </section>
<!--	<script type="text/javascript" src="{% static 'js/carts.js' %}"></script>-->

	<script type="text/javascript" src="{% static 'js/carts.js' %}"></script>

  </body>

</html>
