{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/cat.css' %}">

<body>

    <div class="cont">
        <div class="leftside">

            <img class ="kurapng" src="{% static 'iamagessa/biglogo.svg' %}"/>

        </div>
        <div class="rightside">
            <div class="yu">
            <h1 class="textho">Cначала ,быстро,<n/> потом медленно”</h1>
            <h5 class="textho1">продукция для тех, кто хочет экономить свое время</h5>
    </div>
        </div>

    </div>
  <div class="container">
      <div class="cat">
          <a onClick="showHide('test1');" class="cat1"><h3 class="war1">маринованная</h3></a>
          <a  onClick="showHide('test1');" class="cat2"><h3 class="war2">сырая</h3></a>

      </div>
    <div class="heading">
      <h1 class="textho2">Продукция</h1>
        <a class="warning" ><h4 class="war">Для уточнение суммы и веса продукции после оформления заказа с вами свяжется наш диспетчер</h4></a>


    </div>
    <div id="test1" class="row">
        {% for product in products %}
{% if product.category%}
		<div class="card" >
          <img class="pimg" src="{{product.imageURL}}">
        <div class="card-body">
          <h4 class="p">
{{product.name}}
		  </h4>
            <div class="div">
                <a class="btns" href="{% url 'product' product.id %}"><h4 class="fnt">Подробнее</h4></a>
                <a data-product="{{product.id}}" data-action="add" class="btns1 add-btn update-cart"><h4 class="fnt1">Купить</h4></a>
</div>
<!--                <a href="#" class="btn">Read more</a>-->
        </div>

      </div>
        {% else %}
        <div  class="card" >
          <img class="pimg" src="{{product.imageURL}}">
        <div class="card-body">
          <h4 class="p">
{{product.name}}
		  </h4>
            <div class="div">
                <a class="btns" href="{% url 'product' product.id %}"><h4 class="fnt">Подробнее</h4></a>
                <a data-product="{{product.id}}" data-action="add" class="btns1 add-btn update-cart"><h4 class="fnt1">Купить</h4></a>
</div>
<!--                <a href="#" class="btn">Read more</a>-->
        </div>

      </div>

        {% endif %}
		{% endfor %}


</div>
  </div>

<div class="e">
        <img class="logo" src="{% static 'iamagessa/logo.svg' %}"/>
        <div class="q">
		<b class="b">Кунарская 63</b>
        </div>

        <div class="q">
		<b class="b"> 8 (912) 247 91 51</b>
        </div>
        <div class="q">
		<b class="b">kura.urala@mail.ru</b>
        </div>
</div>
</body>
<script type="text/javascript">
    function showHide(someID){
    var theEldisp = document.getElementById(someID);
    theEldisp.style.flexWrap=(theEldisp.style.flexWrap == 'wrap-reverse')?'wrap':'wrap-reverse';

    }

</script>
{% endblock content %}


<!--	<div class="row">-->
<!--		{% for product in products %}-->
<!--		<div class="product-box">-->
<!--			<img  src="{{product.imageURL}}">-->
<!--			<div class="box-element product">-->
<!--				<h6><strong>{{product.name}}</strong></h6>-->
<!--				<hr>-->

<!--				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>-->

<!--				<a class="btn btn-outline-success" href="#">View</a>-->
<!--				<h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>-->

<!--			</div>-->
<!--		</div>-->
<!--		{% endfor %}-->
<!--	</div>-->

