@font-face {
	font-family: 'Nunito';
	src: url(./nuniti/Nunito-Regular.ttf);
}
@font-face {
	font-family: 'NunitoBold';
	src: url(./nuniti/nunity.ttf);
}
.ada{
    margin-left:5%;


}
.gamel1{
    display:none;

}
.pol1{
    display:none;
    position:relative;

}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}
body{
  font-family: montserrat;

}
.pol{
    position:relative;

}
.itemcart{
font-family: 'NunitoBold';
color: white;
    position: absolute;
    left: 31px;
    top: 22px;
    width: 100%;

}
.inn{
  position: absolute;
  right: 0;
  width: 8%;
  padding:4%;

}
.circle {
  background: #456BD9;
  border: 0.1875em solid #0F1C3F;
  border-radius: 50%;
  box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
  height: 5em;
  width: 5em;
    position: absolute;
  right: 0;
  width: 8%;
  padding:4%;
}
.game{
    width:96px;
}
.game1{
    width:96px;
}
.gamel{

    width:46px;
}
nav{
  display:flex;
  background:#46315E;
  width:100%;
  height:100px;
  justify-content:space-evenly;
  align-content:center;
  align-items:center;


}
.nav{
  display:flex;
  background:#46315E;
  width:100%;
  height:100px;
  justify-content:space-around;
  align-content:center;
  align-items:center;


}
.textic{
  display:flex;
  justify-content:space-around;
  padding:20px;
  width:20%;


}

.logo{
width:50%;
}

.active{
    color:white;
    font-family:'NunitoBold';

}


.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-left: 50px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
 .logo{
  width:40%;


  }
.lolp{

}
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: flex;
  }
  nav{
    flex-direction:row;
}
.nav{
    flex-direction: column;
    height:40%;
    width:50%;
    background-color:#E9501E;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 33;
}

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 100px;
    left: 100%;
    text-align: center;
    transition: all .5s;
    lex-direction:row-reverse;

  }
  .itemcart {
    color: white;
    position: absolute;
    left: 31px;
    top: 21px;
    width: 100%;
    font-family: 'NunitoBold';
}
  nav ul li{
    display: flex;
    margin: 50px 0;
    line-height: 30px;
    flex-direction:row-reverse;
  }
  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
   left: 50%;
  }
  .textic {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    flex-direction: column;
    color: white;
}
.game{
    display:none;
}
.ur{
    display:none;

}
a.active{
margin-top: 9%;
    color:#fff;
}
.checkbtn{
    margin-left: 0;
    margin-right: 8%;
}
.pol1 {
display:flex;
    position: relative;
    margin-right: 8%;
}
.gamel1{
    display:flex;
    width: 46px;
}
.gamel{
    display:none;
}
.pol{
    display:none;

}
}
