.backs{
    width:20%;

}
h3{
    color:#46315E;
    font-size:40px;
    font-family:'Nunito';
}
h2{
    color:white;
}
.jopa{
    display:flex;
    flex-direction: column;

}
.iop{
    display:flex;
    flex-direction: column;
}
.btns13{
    color: #fff;
    padding: 6px;
    background: #FF9300;
    border: 1px solid #FF9300;
    border-radius: 30px;
    text-align: center;
}

.mains{
    display:flex;
    flex-direction: column;

}
.ere{
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

}
.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.prdimg{

    width: 100%;
    border-radius:30px;
}
.rightbox{
    flex-direction: column;
    display: flex;
justify-content: space-around;

}
