<script type="text/javascript">
    function showHide(someID, someID2){
    var theEldisp = document.getElementById(someID);
     var theEldisp2 = document.getElementById(someID2);

    theEldisp.style.display=(theEldisp.style.display== 'none')?'block':'none';
    theEldisp2.style.display=(theEldisp2.style.display== 'block')?'none':'none';

    }
</script>

<span onClick="showHide('test');">click here to toggle On and off</span>
<span onClick="showHide(test1');">click here to toggle On and off</span>

<hr>
<div id="test" style='display:block'>
your hiding div content.<br> your hiding div content.<br>
</div>
<div id="test1" style='display:none; background:red'>
your hiding div content.<br> your hiding div content.<br>
</div>