<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JavaScript Counter</title>

	<link rel="stylesheet" href="main.css">
</head>
<body>
	<main>
        <button id="btn1" style="" type="button" >Click me</button>
        <button id="btn2" style="" type="button"  >Click me</button>

		<h1>Counter</h1>
		<p>A simple counting web app</p>
		<div class="counter">
			<div class="counter-value">0</div>

			<div class="counter-controls">
				<button data-action="decrease">
					<span>Decrease</span>
				</button>
				<button data-action="reset">
					<span>Reset</span>
				</button>
				<button data-action="increase">
					<span>Increase</span>
				</button>
			</div>
		</div>

		<div class="save">
			<button data-action="save">
				<span>Save</span>
			</button>
			<button data-action="clear-save">
				<span>Clear</span>
			</button>
		</div>
	</main>

	<script type="text/javascript">

  const actions = Array.from(document.querySelectorAll('[data-action]'));

let counter = localStorage.getItem("counter") || 0;

document.querySelector(".counter-value").innerText = counter;

actions.forEach(action => {
	action.addEventListener('click', () => {
		const action_name = action.dataset.action;

		action.classList.add("animate");

		setTimeout(() => {
			action.classList.remove("animate");
		}, 1000);

		switch (action_name) {
			case 'increase':
				counter++;
                localStorage.setItem("counter", counter);
				break;
			case 'decrease':
				counter--;
				break;
			case 'reset':
				counter = 0;
				break;
			case 'save':
				localStorage.setItem("counter", counter);
				break;
			case 'clear-save':
				localStorage.removeItem("counter");
				break;
		}

		document.querySelector(".counter-value").innerText = counter;

	});
});

    </script>
</body>
</html>